
<form name="editForm" role="form" novalidate >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myScancafLabel">CAF SCAN</h4>
    </div>
    <div class="modal-body">
	
	
	<div class="eis_row">
  
  
  <div class="eis_column">
  
  
		<div class="eis_row">
  
  
			 <div class="eis_div_column">
				  <label class="control-label" for="field_category1">Box Name</label>
				  
			</div>
				  
			<div class="eis_div_column">
				  
				   <input type="text"  name="category1" id="field_box"
                    ng-model="vm.scancaf.sourceboxstaus"
            maxlength="8" />
				  
			</div>
				  
			 
  </div>
  
  <div class="eis_row">
  
  
			 <div class="eis_div_column">
				 
				  <label class="control-label" for="field_boxstatus">Cafbarcode</label>
				  
			</div>
				  
			<div class="eis_div_column">
				
				<input type="text"  name="boxstatus" id="field_boxstatus"
                    ng-model="vm.scancaf.category" />
				  
			</div>
				
            
			 
  </div>
  <div >
            <label class="control-label" for="field_colorcode">Colorcode</label>
            <TextArea type="text"  name="colorcode" id="field_colorcode"
                    ng-model="vm.scancaf.colorcode"
                    ng-style="{'background-color':vm.scancaf.colorcode}" cols="70" rows="10"
                    >
            </TextArea>
        </div>

  
  </div>
  
  
  
  <div class="eis_column">
  
  
			<div class="eis_row">
  
  
			 <div class="eis_div_column">
				  
				   <label class="control-label" for="field_category1">Active</label>
				  
			</div>
				  
			<div class="eis_div_column">
			 <input type="text"  name="category1" id="field_category1"
                    ng-model="vm.scancaf.category1"
            maxlength="8" ng-change="validate1()"/>
			</div>
				  
				  
				  
			<div class="eis_div_column">
			
			<input type="number"  name="countCategory1" id="field_countCategory1"
                    ng-model="vm.scancaf.countCategory1"
                   />
						  
			</div>				
				  
				
			
  
  </div>
  
  
  
		<div class="eis_row">
  
  
			 <div class="eis_div_column">
				   
				   <label class="control-label" for="field_category2">0-1 Years</label>
			</div>
				  
			<div class="eis_div_column">
				 
				  <input type="text"  name="category2" id="field_category2"
                    ng-model="vm.scancaf.category2"
            maxlength="8"      ng-change="validate1()" />
				  
			</div>
				  
				  
				  
			<div class="eis_div_column">
				
				
				<input type="number"  name="countCategory2" id="field_countCategory2"
                    ng-model="vm.scancaf.countCategory2"
                   />
			</div>				
				  
			
        <div >
            
           
            
        </div>
			
  
  </div>
  
  <div class="eis_row">
  
  
			 <div class="eis_div_column">
				  <label class="control-label" for="field_category3">1-2 years</label>
				  
			</div>
				  
			<div class="eis_div_column">
				    <input type="text"  name="category3" id="field_category3"
                    ng-model="vm.scancaf.category3"
             maxlength="8"  ng-change="validate1()" />
				  
			</div>
				  
				  
				  
			<div class="eis_div_column">
						   <input type="number"  name="countCategory3" id="field_countCategory3"
                    ng-model="vm.scancaf.countCategory3"
                   />
						  
			</div>				
				  
				 
  
  </div>
  
  <div class="eis_row">
  
  
			 <div class="eis_div_column">
				   <label class="control-label" for="field_category4">2-3 years</label>
				  
			</div>
				  
			<div class="eis_div_column">
				   <input type="text"  name="category4" id="field_category4"
                    ng-model="vm.scancaf.category4"
            maxlength="8"  ng-change="validate1()" />
				  
			</div>
				  
				  
				  
			<div class="eis_div_column">
						  <input type="number"  name="countCategory4" id="field_countCategory4"
                    ng-model="vm.scancaf.countCategory4"
                   />
			</div>				
				  
				  
        <div >
            
            
           
        </div>
			
  
  </div>
  <div class="eis_row">
  
  
			 <div class="eis_div_column">
				   <label class="control-label" for="field_category5">> 3 years</label>
				  
			</div>
				  
			<div class="eis_div_column">
				
				<input type="text"  name="category5" id="field_category5"
                    ng-model="vm.scancaf.category5"
           maxlength="8"       ng-change="validate1()" />
				  
			</div>
				  
				  
				  
			<div class="eis_div_column">
					
					 <input type="number"  name="countCategory5" id="field_countCategory5"
                    ng-model="vm.scancaf.countCategory5"
                   />
						  
			</div>				
				  
				
			
  
  </div>
  <div class="eis_row">
  
  
			 <div class="eis_div_column">
				   <label class="control-label" for="field_categoryRv">Churn Rv</label>
				  
			</div>
				  
			<div class="eis_div_column">
				    <input type="text"  name="categoryRv" id="field_categoryRv"
                    ng-model="vm.scancaf.categoryRv"
           maxlength="8"       ng-change="validate1()" />
				  
			</div>
				  
				  
				  
			<div class="eis_div_column">
				 <input type="number"  name="countCategoryRv" id="field_countCategoryRv"
                    ng-model="vm.scancaf.countCategoryRv"
                   />
						  
			</div>				
				  
				 
			
  
  </div>
  
  
		
  
			
  </div>
  
  
  
  
  </div>
  </div>

   
 
          <!--  <div>
            <label class="control-label" for="field_category5">Churn NA</label>
            <input type="text"  name="categoryNA" id="field_categoryNA"
                    ng-model="vm.scancaf.categoryNA"
           maxlength="8"       ng-change="validate1()" />
            <input type="number"  name="countCategoryNA" id="field_countCategoryNA"
                    ng-model="vm.scancaf.countCategoryNA"
                   />
        </div>
 -->

        <div>



            <!-- <label class="control-label" for="field_churntype">Churntype</label>

            <select ng-model="vm.scancaf.caftype">
			<option  value="category_1" style="background-color: red">Churn Type 1</option>
			<option  value="category_2">Churn Type 2</option>
			<option  value="category_3">Churn Type 3</option>
			<option  value="category_4">Churn Type 4</option>
			<option  value="category_5">Churn Type 5</option>
			</select>  -->

         <button type="button" class="btn btn-primary" ng-click="BoxComplete()" >
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>OutBox Completed</span>
        </button>

         <td>{{item.boxstatus}}</td>
        <div hidden="true">
         <div id="exportable">
    <table width="100%">
        <thead>
            <tr>
                <th>{{item.boxstatus}}</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
</div>
      </div>
        </div>
        </div>
        </form>

