<div>
    <h2>Mobile Validations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 no-padding-left">
                <button class="btn btn-primary" ui-sref="mobile-validation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        1 st Level Segregation
                    </span>
                </button>
                  <button class="btn btn-primary" ui-sref="mobile-validation.second" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                       2nd Level Segregation
                    </span>
                </button>
            </div>
            <div class="col-xs-6 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobilenumber"><span>Mobilenumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activationDate"><span>Activation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerName"><span>Customer Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="colorCode"><span>Color Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user"><span>User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userDate"><span>User Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isselected"><span>Isselected</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category1"><span>Category 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category2"><span>Category 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category3"><span>Category 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="catergory4"><span>Catergory 4</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="catergory5"><span>Catergory 5</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countCategory1"><span>Count Category 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countCategory2"><span>Count Category 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countCategory3"><span>Count Category 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countCategory4"><span>Count Category 4</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countCategory5"><span>Count Category 5</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mobileValidation in vm.mobileValidations track by mobileValidation.id">
                    <td><a ui-sref="mobile-validation-detail({id:mobileValidation.id})">{{mobileValidation.id}}</a></td>
                    <td>{{mobileValidation.mobilenumber}}</td>
                    <td>{{mobileValidation.activationDate}}</td>
                    <td>{{mobileValidation.customerName}}</td>
                    <td>{{mobileValidation.colorCode}}</td>
                    <td>{{mobileValidation.user}}</td>
                        <td>{{mobileValidation.userDate | date:'mediumDate'}}</td>
                    <td>{{mobileValidation.isselected}}</td>
                    <td>{{mobileValidation.category1}}</td>
                    <td>{{mobileValidation.category2}}</td>
                    <td>{{mobileValidation.category3}}</td>
                    <td>{{mobileValidation.catergory4}}</td>
                    <td>{{mobileValidation.catergory5}}</td>
                    <td>{{mobileValidation.countCategory1}}</td>
                    <td>{{mobileValidation.countCategory2}}</td>
                    <td>{{mobileValidation.countCategory3}}</td>
                    <td>{{mobileValidation.countCategory4}}</td>
                    <td>{{mobileValidation.countCategory5}}</td>
                    <td>{{mobileValidation.sourcebox}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="mobile-validation-detail({id:mobileValidation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mobile-validation.edit({id:mobileValidation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mobile-validation.delete({id:mobileValidation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
