
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMobileValidationLabel">Create or edit a Mobile Validation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.mobileValidation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.mobileValidation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mobilenumber">Mobilenumber</label>
            <input type="number" class="form-control" name="mobilenumber" id="field_mobilenumber"
                    ng-model="vm.mobileValidation.mobilenumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_activationDate">Activation Date</label>
            <input type="text" class="form-control" name="activationDate" id="field_activationDate"
                    ng-model="vm.mobileValidation.activationDate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_customerName">Customer Name</label>
            <input type="text" class="form-control" name="customerName" id="field_customerName"
                    ng-model="vm.mobileValidation.customerName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_colorCode">Color Code</label>
            <input type="text" class="form-control" name="colorCode" id="field_colorCode"
                    ng-model="vm.mobileValidation.colorCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                    ng-model="vm.mobileValidation.user"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_userDate">User Date</label>
                <div class="input-group">
                    <input id="field_userDate" type="text" class="form-control" name="userDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.mobileValidation.userDate" is-open="vm.datePickerOpenStatus.userDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('userDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
